@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;700&family=Press+Start+2P&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Finlandica', sans-serif, 'Press Start 2P', cursive;
    background: #000;
}

body {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    color: #EF0480;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.25rem;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background: #000;
    color: #fff;
    font-family: 'Finlandica', sans-serif;
}

header .logo a {
    text-decoration: none;
}

nav {
    
}

nav li a {
    margin: 1%;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;    
}

nav li:hover {
    color: white;
}

/* ================================
    Mission Statement/Landing Page
   ================================ */

.mission {
    background-image: url('images/landing-bg-img.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.mission-content {
    background-color: #000;
    margin: 2%;
    padding: 5rem;
    opacity: .9;
}


.mission-content h1 {
    font-size: 3rem;
}

.mission-statement p {
    font-size: 1.875rem;
    font-weight: bold;
    margin-top: 3%;
    color: white;
}

/* ===============
    Services Page
   =============== */
.services {
    background: white;
    margin: 3% auto;
    padding: 2rem;
}

.services-card-container {
    margin: 0 3.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.services-card {
    height: 325px;
    width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 4%;
    padding: 3rem;
    margin: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.services-card h2 {
    margin-top: .25rem;
}

/* ===========
    Team Page
   =========== */

.team {
    display: flex;
    flex-wrap: wrap;
}

.team-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
}

.team-member {
    margin: auto 3rem;
}

.team-pic img {
    object-fit: contain;
    border: 2px white solid;
    border-radius: 4%;
    width: 350px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    
}

.team-name {
    line-height: 1.5;
}

.team-name h2 {
    font-family: 'Press Start 2P';
    font-size: 1.27rem;
    margin: 4%;
    font-weight: 500;
}

.team-name h3 {
    color: white;
    text-shadow: 2px 2px #EF0480;
}

.team-description {
    width: 325px;
    height: auto;
    line-height: 1.5;
    margin: 2% 0;
}

/* ==============
    Contact Page
   ============== */

.contact {
    background: white;
    padding: 3% 0;
}

.contact .logo {
    margin-bottom: 1.5rem;
}

.contact-text {
    font-weight: 700;
}

/* ========
    Footer
   ======== */

footer {
    color: white;
    font-size: .75rem;
}
